body {
  background-image: url("/Users/user/Desktop/UK countdown/images/land.jpg");
  background-size: cover;
}
p,
h1 {
  text-align: center;
  font-size: 60px;
  margin-top: 5px;
}
.container {
  background-color: rgba(237, 237, 220, 0.75);
  width: 450px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  margin: 200px 490px;
}
